arrow==1.3.0
async-lru==2.0.4
attrs==22.2.0
cchardet==2.1.7
charset-normalizer==3.4.1
ckanapi==4.7
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
comm==0.2.2
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.2.2
Fiona==1.8.22
fonttools==4.25.0
fqdn==1.5.1
geodatasets==2023.3.0
geopandas==0.12.2
git-filter-repo==2.45.0
gurobipy==11.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
ipython-genutils==0.2.0
isoduration==20.11.0
isoweek==1.3.3
joblib==1.2.0
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
munch==2.5.0
munkres==1.1.4
openpyxl==3.1.2
overrides==7.7.0
pandas==1.5.2
partridge==1.1.1
Pillow==9.3.0
ply==3.11
pooch==1.8.0
pyproj==3.4.1
PyQt5-sip==12.11.0
python-slugify==7.0.0
pyzmq==26.2.1
referencing==0.36.2
rpds-py==0.23.1
scikit-learn==1.2.0
scipy==1.9.3
shapely==2.0.0
text-unidecode==1.3
threadpoolctl==3.1.0
types-python-dateutil==2.9.0.20241206
uri-template==1.3.0
urllib3==1.26.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0